.tabulka{
    height: 450px;
    overflow-y: auto;
    background-color: white;

}
.tabulkaDetail{
    height: 300px;
    overflow-y: auto;
    background-color: white;

}

th{
    position: sticky;
    top: 0;
}
header{
    text-align: center;
}

.kurzor{
    cursor: pointer;
}

.form-control{
    float: none;
}
.upozornenie{
    color: red;
}