body{
    background-color: black;
    background-image: url("../img/pozadie2.png");

}

.tabulka{
    max-height:  450px;
    overflow-y: auto;
    background-color: white;

}
.tabulkaDetail{
    max-height:  300px;
    overflow-y: auto;
    background-color: white;

}

th{
    position: sticky;
    top: 0;
}
header{
    text-align: center;
}

.kurzor{
    cursor: pointer;
}

.form-control{
    float: none;
}
.upozornenie{
    color: red;
}

h1{
    color: white;
}

h2{
    color: white;
}
#lavaStrana{
    background-color: rgba(238, 238, 0, 0.8);
    border-radius: 25px 25px 25px;
    color: black;
}

#pravaStrana{
    background-color: rgba(77, 5, 232, 0.8);
    border-radius: 25px 25px 25px;
    color: white;
}

main{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px 25px 25px;
}
#gen{
    color: black;
}

